body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

main {
    padding: 20px;
    text-align: center;
}

p {
    font-size: 1.2rem;
    color: grey;
}

h2 {
    font-size: 1.8rem;
    margin: 20px 0;
  }

.missionsBelief {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    height: 250px;
    background-color: grey;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px black; 
}

.missionsBelief img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    background-color: grey;
}

.missionsBelief span {
    font-size: 1rem;
    color: white;
    text-align: left;
}

.founders {
    margin: 30px auto;
    text-align: center;
}
  
.foundersImages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
  
.foundersImages img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid grey;
    background-color: white;
}
  
.foundersImages p {
    margin-top: 20px;
    font-size: 1rem;
    color: white;
}  