body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe8e8;
}

main {
    padding: 20px;
    text-align: center;
}

.orderImg {
    max-width: 60%;
    height: auto; 
    border-radius: 10px;
    margin: 20px auto;
}

.specialImgSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.specialImg {
    max-width: 45%; 
    height: auto; 
    margin-bottom: 10px;
}

.imgContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.imgContent p {
    font-size: 0.8rem;
    margin: 0;
}

.Imgdescription {
    max-width: 100%; 
    height: auto; 
    margin-left: 20px;
}

button {
    padding: 10px 20px;
    background-color: #63ee6f;
    color: rgb(255, 228, 228);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

button:hover {
    background-color: #4cbf4e;
}
